:root {
    --daycolor: rgb(248, 248, 248);
    --nightbackground: #323232;
    --nightborder: lightgrey;
    --daygray: rgb(184, 181, 181);
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: var(--daycolor);
}
body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-rows: auto  auto auto auto 1fr auto;
    grid-template-areas: 
      "item-logo item-menu "
      "item-header item-header"
      "item-input item-input"
      "item-upload item-upload"
      ". ."
      "item-footer item-footer";
    min-height: 100vh;
    box-sizing: border-box;
}
.item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.item-logo {
    grid-area: item-logo;
}
.item-menu {
    grid-area: item-menu;
    display: flex;
    justify-content: flex-end;
    padding-right: 9vw;
    align-items: center;
}
.item-header {
    grid-area: item-header;
    display: flex;
    justify-content: center;
}
.item-input {
    grid-area: item-input;
    display: grid;
    grid-template-columns: 54vw 45.5vw;
    grid-template-areas: 
    "item-title item-title"
    "item-description item-description"
    "item-location item-location"
    "item-address item-address"
    "item-event-start item-event-end"
    "item-add-images item-add-images";
    padding: 0;

}
.item-footer {
    grid-area: item-footer;
    display: grid;
    grid-template-columns: 40vw auto 40vw;
    grid-template-areas: 
    "item-footer-left . item-footer-right ";
}
.item-footer-left {
    padding: 0;
    grid-area: item-footer-left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-footer-right {
    grid-area: item-footer-right;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 10vw;
}
.item-footer-left > a {
    text-decoration: none;
    color: black;
    font-size: small;
}
a.footer-hover:hover {
    border-bottom: 1px solid var(--daygray);
}
.socialmedia {
    max-width: 1rem;
    font-size: 0;
    padding: 1px;
}
.button {
    background-color: var(--daycolor);
    border-radius: 8px;
    cursor: pointer;
    height: auto;
    width: auto;
    border: 1px solid var(--daygray);
}
.button:hover {
    background: var(--daygray);
    color: white;
}
.item-title {
    grid-area: item-title;
}
.item-description {
    grid-area: item-description;
}
.item-location {
    grid-area: item-location;
}
.item-address {
    grid-area: item-address;
}
.item-event-start {
    grid-area: item-event-start;
}
.item-event-end {
    grid-area: item-event-end;
}
.item-add-images {
    grid-area: item-add-images;
}
.boxes {
    margin-left: 0;
    margin-right: 0;
    width: 83vw;
    margin-bottom: 1rem;
    background-color: var(--daycolor);
    border: 1px solid var(--daygray);
    border-radius: 3px;
}
.title {
    margin-bottom: 0;
    margin-top: 0;
}
.center {
    padding-left: 7vw;
}
.date-time {
    margin-bottom: 1rem;
    background-color: var(--daycolor);
    border: 1px solid var(--daygray);
    border-radius: 3px;
}
.dropdown {
    background-color: var(--daycolor);
    border: 1px solid var(--daygray);
    border-radius: 3px;
}
.nomargin {
    margin: 0;
}
.item-upload {
    grid-area: item-upload;
    display: flex;
    justify-content: center;
    align-items: center;
}
#create {
    font-size: large;
}
img.socialmedia:hover {
    border-bottom: 1px solid var(--daygray);
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 4px;
}
@media (prefers-color-scheme: dark) {
        /* For Darkmode: */
	html {
		background-color: var(--nightbackground);
		color: #ccc;
	}
    .button {
        background-color: var(--nightbackground);
        color: white;
        border: 1px solid var(--nightborder);

    }
    .button:hover {
        background: white;
        color: var(--nightbackground);
    }
    .item-footer {
        background-color: var(--daycolor);
        border-end-end-radius: 1rem;
        border-end-start-radius: 1rem;
    }
    .boxes {
     background-color: var(--nightbackground);
     border: 1px solid var(--nightborder);
     color: white;
    }
    .dropdown {
        background-color: var(--nightbackground);
        color: white;
        border: 1px solid var(--nightborder);
    }
    .date-time {
        background-color: var(--nightbackground);
        border: 1px solid var(--nightborder);
        color: white;
    }


}
#sign-in {
    margin-left: 5vw;
}
@media only screen and (min-width: 768px) {
    /* For Desktop: */
    .boxes {
        width: 40vw;
       }
       .item-input {
        grid-template-columns: 30vw 30vw 40vw;
        grid-template-areas: 
        "item-title item-title item-title"
        "item-description item-description item-description"
        "item-location item-location item-location"
        "item-address item-address item-address"
        "item-event-start item-event-end ."
        "item-add-images item-add-images item-add-images";
    }
    .grid-container {
        grid-template-areas: 
          "item-logo item-menu "
          "item-header ."
          "item-input item-input"
          "item-upload ."
          ". ."
          "item-footer item-footer";
        min-height: 100vh;
        box-sizing: border-box;
    }
    .item-upload {
        justify-content: flex-start;
        margin-left: 7vw;
        margin-top: 2vw;
    
    }
}